<div class="flex w-full h-full bg-grey-500">
  <!-- Large Screen Sidebar -->
  <div class="hidden lg:flex">
    <app-sidebar *ngIf="showSidebar()"></app-sidebar>
  </div>

  <!-- Main Content -->
  <div [ngClass]="{
    'flex-1 lg:ml-[250px]': showSidebar() && isLargeScreen(), 
    'flex-1 ml-0': !showSidebar || !isLargeScreen()
    }" class="flex-1 p-6">
    <router-outlet></router-outlet>
  </div>

  <!-- Small Screen Bottom Navigation -->
  <div class="lg:hidden" *ngIf="showBottomNav()">
    <app-bottomnav ></app-bottomnav>
  </div>

</div>
