.profile-link {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 2px 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.profile-link:hover {
  background-color: var(--grey-500);
}

 